*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.loader{
  width: 100%;
  height: 100vh;
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader-img{
  width: 90px;
  height: 90px;
  overflow: hidden;
}

.loader-img > img{
  width: 100%;
  height: 100%;
}

.main{
  display: none;
}

.container{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}

.nav-left{
  flex: 1;
  border-right: 1px solid rgb(238, 236, 236);
  padding: 30px;
  position: sticky;
  left: 0;
  top: 0;
  max-height: 100vh;
}

i{
  color: gray;
}

.nav-container{
  width: 100%;
  display: flex;
  flex-direction: column;
}

.logo{
  width: 37%;
  height: 45px;
  margin-bottom: 30px;
}

.logo > img{
  width: 100%;
  height: 100%;
}

.nav-icons{
  display: flex;
  flex-direction: column;
  gap: 5px;
  margin-bottom: 20px;
}

.list{
  display: flex;
  padding: 15px 10px 15px 10px;
  border-radius: 10px;
  font-size: 18px;
  gap: 15px;
  transition: transform 0.3s;
  cursor: pointer;
}

.list > i{
  font-size: 22px;
}

.profile-img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
  overflow: hidden;
}

.profile-img > img{
  width: 100%;
  height: 100%;

}

.list:hover{
  background: rgb(235, 235, 235);
}

.list:hover i{
  transform: scale(1.1);
}


.middle-posts{
  flex: 2;
  padding: 40px;
  display: flex;
  flex-direction: column;
  border-right: 1px solid rgb(238, 236, 236);
  gap: 50px;
  align-items: center;
  justify-content: center;

}

.status-wrapper{
  display: flex;
  align-items: center;
  justify-content: space-between;
  overflow-x: scroll;
  border-radius: 10px;
  max-width: 600px;
  box-shadow: 0 0 3px 3px rgb(238, 236, 236);
}

.status-wrapper::-webkit-scrollbar{
  display: none;
}

.stories{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.status-card{
  display: flex;
  align-items: center;
  gap: 5px;
  flex-direction: column;
  padding: 10px;
}

.status-card > p{
  font-size: 11px;
}

.status-pic{
  width: 50px;
  height: 50px;
  overflow: hidden;
  border-radius: 50%;
}

.status-img{
  background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
  padding: 2px;
}

.status-pic > img{
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
  border: 2px solid white;
}

.posts{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.post{
  width: 100%;
  height: 750px;
  border-radius: 10px;
  box-shadow: 0 0 3px 3px rgb(238, 236, 236);
  
}

.info{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
}

.user{
  display: flex;
  align-items: center;
  gap: 10px;
}

.post-image{
  width: 100%;
  height: 500px;
  object-fit: cover;
}

.post-content{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 15px;
}

.reaction-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 19px;
}

.like{
  font-size: 14px;
  margin-top: 8px;
}

.description{
  font-size: 12px;
}

.no-comments{
  font-size: 13px;
}

.post-time{
  font-size: 10px;
  color: gray;
}

.comment-wrapper{
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 95%;
  padding: 0 15px;
  border-bottom: 1px solid rgb(238, 236, 236);
  margin: 0 auto;
}

.comment-box{
  width: 96%;
  outline: none;
  border: none;
  height: 100%;

}

.right-suggested-accounts{
  flex: 1.5;
  border-left: 1px solid rgb(238, 236, 236);
  padding: 30px;
  position: sticky;
  right: 0;
  top: 0;
  max-height: 100vh;

}

.right-col {
  width: 100%;
  padding: 20px;
}
.profile-card {
  width: 100%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 10px;
}

.profile-card .status-pic {
  flex: 0 0 auto;
  padding: 0;
  background: none;
  width: 40px;
  height: 40px;
  margin-right: 10px;
}

.profile-card:first-child .status-pic {
  width: 60px;
  height: 60px;
}
/* .profile-card .status-pic img {
  border: none;
} */

.profile-card .pro-user {
  font-weight: 600;
  font-size: 14px;
  color: #000;
}
.sub-text {
  color: #8e8e8e;
  font-size: 14px;
  font-weight: 400;
  margin-top: 4px;
}

.action-div {
  margin-left: auto;
}

.action-btn {
  color: #0095f6;
  width: 80px;
  height: 20px;
  padding: 2px 10px;
  font-size: 11px;
  border: none;
  cursor: pointer;
  background: transparent;
}

.suggestion-text {
  font-size: 13px;
  color: #8e8e8e;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}
.seeall-btn {
  width: 80px;
  height: 20px;
  padding: 2px 10px;
  font-size: 11px;
  border: none;
  background: transparent;
}

.sug-text {
  color: #8e8e8e;
  font-size: 12px;
  font-weight: 400;
  margin-top: 4px;
}

.quick-links-wrapper{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  font-size: 12px;
  color: gray;
}

.mid{
  margin-top: 30px;
}

.copy{
  margin-top: 70px;
}

.mobile-device{
  display: none;
}


@media only screen and (width <= 600px) {
  .container{
    display: none;
  }

  .mobile-device{
    display: block;
    width: 100%;
    min-height: 100vh;
  }

  .mobile-fixed-nav{
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 20px;
    box-shadow: 0 0 2px 2px rgb(238, 234, 234);
    font-size: 22px;
    background-color: white;
    z-index: 333;

  }

  .mobile-profile-image{
    width: 30px;
    height: 30px;
    border-radius: 50%;
    overflow: hidden;
  }

  .mobile-profile-image > img{
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover;
  }

  .mobile-nav{
    width: 100%;
    height: 50px;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    box-shadow: 0 0 2px 2px rgb(238, 234, 234);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
    font-size: 22px;
    margin-bottom: 70px;
    background-color: white;
    z-index: 333;

  }

  .mobile-logo{
    width: 33%;
    height: 45px;
  }

  .mobile-logo > img{
    width: 100%;
    height: 100%;
  }

  .mobile-nav-icon{
    width: 20%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .mobile-post{
    margin-top: 70px;
    margin-bottom: 70px;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .mobile-status{
    min-width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    overflow-x: scroll;
    gap: 20px;
    box-shadow: 0 0 3px 3px rgb(238, 236, 236);
    padding: 10px;

  }

  .mobile-status::-webkit-scrollbar{
    display: none;
  }

  .mobile-story-cont{
    width: 80px;
    height: 80px;
    display: flex;
    flex-direction: column;
    gap: 3px;
    align-items: center;
  }

  .mobile-story-cont > p{
    font-size: 11px;
    color: gray;
  }

  .story-img{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    overflow: hidden;
    background: linear-gradient(45deg, rgb(255, 230, 0), rgb(255, 0, 128) 80%);
    padding: 2px;
  }

  .story-img> img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .mobile-posts{
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 20px;
  }

}


